
*{
    box-sizing: border-box;
}

body {
    font-family: adamina;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
}
.main-menu ul {
    float: right;
}
.main-menu ul li {
    list-style: none;
    text-decoration: none;
    float: left;
    margin: 5px;
    font-weight: bold;
    overflow: hidden;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 500px;
    overflow: hidden;

}
.half-width h2 {
    
    text-transform: uppercase;
    
}
.half-width h1 {
    color: #3B3B98;
    text-transform: uppercase;

}
.half-width p {
    color: #636e72;
    
}
.half-width img {
    width: 100%;
}
.btn-danger {
    text-decoration: none;

    background-image: linear-gradient(#9AECDB, #55E6C1);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.row {
    background-color: #bdc3c7;
}
.col-3-1 {
    float: left;
    width: 33.33%;
    padding: 5px;
    overflow: hidden;
    color: #34495e;
    
}


